<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro.Core" version="4.0.173" targetFramework="net48" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net48" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net48" />
  <package id="Rhino3dmIO.Desktop" version="7.1.20343.9491" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
</packages>